
@font-face {
  font-family : "Bold";
  src: url('fonts/Bold.otf');
}

@font-face {
  font-family : "Nexa";
  src: url('fonts/Nexa.ttf');
}
@font-face {
  font-family : "Glitch";
  src : url('fonts/Glitch.otf');
}
.topbar {
  background : black;
  position: fixed;
  top: 0px ;
  z-index: 99;
  display: block;
  width: 100vw;
  height: 6.5vh;
}
.topbar img {
  width: 25px;
  position: fixed;
  right :12px;
  top: 12px; 
}
#close {
  width: 21px;
  position: fixed;
  right :13.5px;
  top: 15px; 
}

.hide {
  display: none;
}

.Name{
  text-align: center;
  color: white;
  font-size: 20px;
  
}
.title {
  text-decoration: none;
  color: #34ecf8;
  border-radius: 15px;
  position: fixed;
  left: 12px;
  top: 2px;
  font-family: 'Glitch';
  font-size: 15px;
  letter-spacing: 1px;
}

body {
  background-color: black;
  font-family: 'Nexa';
  font-size: 8px;
  margin: 0;
}
.home-body {
  background-image: url("img/background3.png");
  background-repeat: no-repeat;
  background-size: cover ;
  background-position: center ;
  background-attachment: fixed ;
  
}

ul {
  display:flex;
  flex-direction: column;
  list-style: none;
  font-size: 20px;
  background-color: black;
  width: 60%;
  height: 100%;
  position: fixed;
  transform : translateX(-100%);
  top: -2%;
  left: 0px;
  z-index:99;
  padding-top : 10%;
  transition : 0.2s ease-in-out;
}
li {
  margin: 7px 0px;
  width: 80%;
  position: relative ;
  left : -15%;
}

.navLinks {
  display: block;
  text-decoration: none;
  color: white;
  padding: 15px;
  border-bottom: 5px solid white;
  width : 100%;
  font-family : 'Arial';
  font-weight : 700;
}
.navLinks:hover {
  color: #34ecf8;
  border-bottom: 5px solid #34ecf8;
}
.contact-hint {
  color : white ;
  font-size: 13px ;
  position: relative;
  top: 150px;
  text-align: center;
}
.contact-hint span {
  color: #34ecf8 ;
}
.SocialLinks {
  display: flex ;
  flex-direction: column;
  align-items: center;
  margin-top :250px;
}

.SocialLinks a {
  text-decoration: none;
  color :white ;
  height:7vh;
  line-height : 7vh;
  font-size :17px;
}

.SocialLinks img {
  width: 30px;
  height :30px;
  margin-left :10px;
}
.buttons{
  display: flex;
  margin: 20px;
  box-sizing: border-box;
  width: 90%;
  justify-content: center;
  align-items :center ;
  border-radius: 12px;
}

#Facebook {
  background-color: #1778F2;
  
}
#Facebook img {
  border : 1px solid white ;
  border-radius :50%; 
}
#Instagram {
 background: linear-gradient(to right, 
            #833ab4 0%, 
            #c13584 35%, 
            #e1306c 50%, 
            #fd1d1d 65%, 
            #fcb045 100%); 
}
#Spotify {
  background-color: #1db954;
}
#Twitter {
  background-color: #1DA1F2;
}
#Github {
  background-color: #333;
}
#Email {
  background-color: #FFBF00;
}
#Discord {
  background-color: #5865f2;
  margin-bottom: 200px;
}
.maindiv {
  display: flex;
  position: relative;
  top : 400px;
}

#text1-1 {
  font-size: 50px;
  padding-bottom: 26px;
}
.home-content {
  display: flex;
  flex-direction: column;
  
}
.hello {
  height :80vh ;
  margin :0px 40px;
  display :flex ;
  flex-direction :column ;
  font-family : 'Bold';
}
.hello h2 {
  display:inline-block ;
  font-size: 10px ;
  color: white;
  margin :200px 0px 40px 0px;
  letter-spacing: 0.5px;
}
.hello h2 span {
  font-size:30px;
  color: #34ecf8;
  display: inline-block;
  margin-top: 5px;
  letter-spacing: 1.5px;
}
.home-button {
  text-decoration: none;
  color : #34ecf8; 
  border : 1.5px solid #34ecf8;
  display: block;
  width : 40vw;
  height : 6vh;
  border-radius: 7px;
  text-align: center;
  font-size: 14px;
  line-height :6vh;
  font-family : 'Arial';
  font-weight :800;
}
.home-button:hover {
  color : black;
  background-color: #34ecf8;
}


.videos-div {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 350px;
}
.vid-title {
  font-size:50px;
  color: white;
  text-align: center;
  padding-top: 40px;
}
video {
  width : 95%;
  display: block;
  margin: 100px auto ;
 
}
.video-div {
  margin: 100px auto;
  border: 5px solid #34ecf8;
  border-radius: 35px;
}
.adari {
  font-size: 60px;
  color: white;
  position: relative;
  top : 300px;
  left: 25%;
}
.edu-links {
  margin-bottom: 600px;
}
.links {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: #34ecf8;
  border: 2.5px solid #34ecf8;
  border-radius: 10px;
  width: 80%;
  height :7vh;
  line-height :7vh;
  margin : 15px auto;
  text-align: center;
}
.links:hover {
  color: black;
  background : #34ecf8;
}
.page-label-container {
  display: flex;
  justify-content: center;
  height : 30vh;
  align-items :center ;
}
.page-label {
  font-size: 18px;
  color: white;
  text-align:center ;
 
}
.screen-message {
  display :none ;
  
  
}
.screen-message label {
  font-size : 30px;
  text-align :center;
  color : white ;
  margin :auto auto ;
}
@media (min-width :400px) {
  .content {
    display :none;
  }
  .home-body {
    background: black;
  }
  .screen-message {
    display : flex ;
    justify-content :center
    align-items : center;
    width : 100vw;
    height :90vh ;
  }
}